!=css('slides')
!=js('Slides')

#Connect Connecting to Server...

#slides
  .slide
    .center
      h2 Guatemalan Elections: <br/> How Perception and Emotive Communication Influence
      img.framed(src='/img/map_of_guatemala.jpg')
      p
        b Who: 
        a(href="http://masteinhauser.github.com") Myles Steinhauser

      p Visit 
        b http://#{ip}:#{app.address().port}/ 
        | in your browser

    .speaker
      ul
        li About Guatemala
        li Credibility: Volunteered there, family history

  .slide
    h2 Guatemala: Facts
    ul
      li One of the highest violent crime rates in Latin America
      | Average of 109 reported murders per week, 14.4 million people<br>
      | U.S. is 284 per week, 312 million people<br>
      <br>
      li One of the least educated countries in the world and the lowest in Central America<br>
        a(href="http://en.wikipedia.org/wiki/Guatemala#Education") Literacy Rate
        | &nbsp;74.5% of 15 and older
      <br>
      li One of the poorest countries in the world<br>
        a(href="http://en.wikipedia.org/wiki/Guatemala#Education") CIA World Fact Book<br>
        | Poverty: 56.2%<br>
        | Extreme Poverty: 13%
      <br>
      li Proverty can be broken down further:
      | Indigenous people are 38% of population<br>
      | Poverty: 73%<br>
      | Extreme Poverty: 28%<br>

    .speaker
      ul
        li Poverty = $2/day
        li Extreme = $1.25/day
        li What some of us make in a year, they make in a LIFETIME!
        li US: GNI PPP = $45,640
        li GUA: GNI PPP = $4,570
        li Liberia: = $930

  .slide
    h2 Guatemala: What does this add up to?
    ul
      li High governmental corruption
      li High non-homicidal violence
      li Highly disproportionate distribution of wealth
    center
      img.framed(src='/img/poverty.jpg')

    .speaker
      ul
        li Gov Corruption
        li non-Homicidal Violence
        li 0 <-> 100 wealth

  .slide
    h2 Why all of these stats? <br>I thought this was Oral Comm!
    ul
      li Setting the Stage
      li Need to 
        a(href="http://dictionary.reference.com/browse/perception") perceive
        | &nbsp;correctly
        ul
          li Mine: "Our 'view' of the world, interactions and communications"
      li A form of 
         a(href="http://www.arts.ualberta.ca/igel/igel2004/Proceedings/Bartsch.pdf") Emotive Communication
         ul
            li Book: Words that sound as if they're describing something when they are really announcing the speaker's attitude
      li How all of this relates back to American Politics

    .speaker
      ul
        li Why stats?
        li Perceive What?
        li Form of Emotive Comm?

  .slide
    h2 Guatemalan Elections: Perception in Communication
    ul
      li Polital Officals usually Spanish
      li Indigenous people can vote
      li Wealth vs Power
    center
     img.framed(src='/img/pp.jpg')

    .speaker
      ul
        li Spanish vs Mayan Officials
        li Education concerns
        li Wealth Difference

  .slide
    h2 Guatemalan Elections: Emotive Communication
    ul
      li Often show people of similar situations
      li Show "Power", "Protection" and Wealth
      li Bribe votes using Government programs, food giveaways and promises
      li Mexican Drug Cartels and Violence
    center
      img.framed(src='/img/election1.jpg')

    .speaker
      ul
        li Compare to American Politics
        li Many "Basic" human needs vs America's Wealth needs
        li Bought with Money/Promises
        li Drug Cartels and Violence

  .slide
    h2 What You Should Take Away
    ul
      li Perception is all around us, positive and negative<br><br>
      li Emotive Communication is one of the most common, and most powerful<br><br>
      li Be aware of your use of perception and emotive communication
        ul
          li In everyday life
          li How it's used against you.

    .speaker
      ul
        li Perception is all around us, positive and negative
        li Emotive Communication is one of the most common, and most powerful
        li As the Guatemalan Polititions use it, we also use it in every day life as it's used against us to acheive goals.

  .slide
    h2 Sources
    ul
      li The Guardian: 
        a(href="http://www.guardian.co.uk/commentisfree/cifamerica/2010/nov/11/guatemala-mexico") Mexican Drug War
      li 
        a(href="https://www.cia.gov/library/publications/the-world-factbook/geos/gt.html") CIA World Factbook
      li 
        a(href="http://www.state.gov/r/pa/ei/bgn/2045.htm") U.S. Department of State
      li 
        a(href="http://www.travel.state.gov/travel/cis_pa_tw/cis/cis_1129.html") U.S. Department of State - Travel
      li 
        a(href="http://web.worldbank.org/WBSITE/EXTERNAL/TOPICS/EXTPOVERTY/EXTPA/0,,contentMDK:20207581~menuPK:443285~pagePK:148956~piPK:216618~theSitePK:430367,00.html") World Bank
      li Washington Post: 
        a(href="http://www.washingtonpost.com/world/americas/guatemala-nicaragua-go-to-the-polls/2011/11/05/gIQAPZs1pM_story.html") Guatemala, Nicaragua go to the polls
      li The Guatemala Times: 
         a(href="http://www.guatemala-times.com/news/guatemala/2595-guatemala-still-has-highest-fertility-rate-in-latin-america.html") Guatemala still has highest fertility rate in Latin America 
      li (Photos) tamerlane's thoughts: 
        a(href="http://karakullake.blogspot.com/2008/11/guatemalan-political-signs.html") Guatemalan Political Signs
      li BBC: 
        a(href="http://www.bbc.co.uk/news/world-latin-america-15594159") Ex-general Otto Perez Molina wins Guatemala election

  .slide
    h1 Questions + Discussion
    p Technologies used in this presentation:
    ul
      li Server Side
        ul
          li
            a(href="http://nodejs.org") NodeJS
          li
            a(href="http://expressjs.com") Express
          li
            a(href="http://socket.io") Socket.io
          li
            a(href="http://jade-lang.com") Jade
          li
            a(href="http://learnboost.github.com/stylus") Stylus
          li
            a(href="http://github.com/TrevorBurnham/connect-assets") Connect Assets / Snockets
      br
      li Client Side
        ul
          li
            a(href="http://documentcloud.github.com/backbone") jQuery
          li
            a(href="http://documentcloud.github.com/backbone") Backbone
    p Thanks for coming!

img.logo(src='/img/adc.png')
#keyboard-enable

#footer
  a(href="http://github.com/masteinhauser/guate-slides", target='_blank')
    | http://github.com/masteinhauser/guate-slides
  .upper
    | Myles Steinhauser 
    a(href="http://twitter.com/masteinhauser") @masteinhauser
    | &nbsp;| http://#{ip}:#{port}/
