!=css('slides')
!=js('Slides')

#Connect Connecting to Server...

#slides
  .slide
    .center
      h2 Guatemalan Elections: <br/> How Perception and Emotive Communication Influence
      img.framed(src='/img/map_of_guatemala.jpg')
      p
        b Who: 
        a(href="http://masteinhauser.github.com") Myles Steinhauser

      p Visit 
        b http://#{ip}:#{app.address().port}/ 
        | in your browser

    .speaker
      ul
        li About Guatemala
        li Credibility: Volunteered there, family history

  .slide
    h2 Guatemala: Facts
    ul
      li One of the highest violent crime rates in Latin America
      | Average of 109 reported murders per week, 14.4 million people<br>
      | U.S. is 284 per week, 312 million people<br>
      <br>
      li One of the least educated countries in the world and the lowest in Central America<br>
        a(href="http://en.wikipedia.org/wiki/Guatemala#Education") Literacy Rate
        | &nbsp;74.5% of 15 and older
      <br>
      li One of the poorest countries in the world<br>
        a(href="http://en.wikipedia.org/wiki/Guatemala#Education") CIA World Fact Book<br>
        | Poverty: 56.2%<br>
        | Extreme Poverty: 13%
      <br>
      li Proverty can be broken down further:
      | Indigenous people are 38% of population<br>
      | Poverty: 73%<br>
      | Extreme Poverty: 28%<br>

    .speaker
      ul
        li Poverty = $2/day
        li Extreme = $1.25/day
        li What some of us make in a year, they make in a LIFETIME!
        li US: GNI PPP = $45,640
        li GUA: GNI PPP = $4,570
        li Liberia: = $930

  .slide
    h2 Guatemala: What does this add up to?
    ul
      li High governmental corruption
      li High non-homicidal violence

    .speaker
      ul
        li 
        li 

  .slide
    h1 Questions + Discussion
    p Technologies used in this presentation:
    ul
      li Server Side
        ul
          li
            a(href="http://nodejs.org") NodeJS
          li
            a(href="http://expressjs.com") Express
          li
            a(href="http://socket.io") Socket.io
          li
            a(href="http://jade-lang.com") Jade
          li
            a(href="http://learnboost.github.com/stylus") Stylus
          li
            a(href="http://github.com/TrevorBurnham/connect-assets") Connect Assets / Snockets
      br
      li Client Side
        ul
          li
            a(href="http://documentcloud.github.com/backbone") jQuery
          li
            a(href="http://documentcloud.github.com/backbone") Backbone
    p Thanks for coming!

img.logo(src='/img/adc.png')
#keyboard-enable

#footer
  a(href="http://github.com/masteinhauser/zabbix-slides", target='_blank')
    | http://github.com/masteinhauser/zabbix-slides
  .upper
    | Myles Steinhauser 
    a(href="http://twitter.com/masteinhauser") @masteinhauser
    | &nbsp;| http://#{ip}:#{port}/
